<h1>Editing tutorial code</h1>

<%= render "form", tutorial_code: @tutorial_code %>

<br>

<div>
  <%= link_to "Show this tutorial code", @tutorial_code %> |
  <%= link_to "Back to tutorial codes", tutorial_codes_path %>
</div>
