<div id="<%= dom_id snippet %>" class="p-5 shadow col-8 card mb-3 mt-5 bg-light">
  <div class="row">
    <div class="col-4">
      <strong>Title:</strong>
    </div>
    <div class="col-4">
      <%= snippet.title %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <strong>Body:</strong>
    </div>
    <div class="col-4">
      <%= snippet.body %>
    </div>
  </div>
</div>
