<div id="<%= dom_id snippet %>" class="p-5 shadow col-8 card mb-3 mt-5 bg-light">
  <div class="row">
    <div class="col-4">
      <strong>Title:</strong>
    </div>
    <div class="col-4">
      <%= snippet.title %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <strong>Code:</strong>
    </div>
    <div class="col-12">
      <pre>
        <code class="hljs <%= snippet.language.name %>">
          <%= snippet.body %>
        </code>
      </pre>
    </div>
  </div>
</div>
