<h1 class="display-6 mb-3 text-muted text-center card shadow bg-dark p-5">
  Editing <%= render html:  @snippet.title %>
</h1>

<div class="p-5 shadow card bg-secondary">
  <%= render "form", snippet: @snippet %>

  <div class="btn-group mt-5" role="group" aria-label="Basic mixed styles example">
    <%= link_to "Show this snippet", @snippet, type: "button", class: "btn btn-sm btn-primary mt-2 shadow" %>
    <%= link_to "Back to snippets", snippets_path, type: "button", class: "btn btn-sm btn-secondary mt-2 shadow" %>
  </div>
</div>
