<h1>Editing guide code</h1>

<%= render "form", guide_code: @guide_code %>

<br>

<div>
  <%= link_to "Show this guide code", @guide_code %> |
  <%= link_to "Back to guide codes", guide_codes_path %>
</div>
