<div id="<%= dom_id language %>" class="p-5 shadow col-8 card mb-3 mt-5 bg-light">
  <div class="row">
    <div class="col-4">
      <strong>Name:</strong>
    </div>
    <div class="col-4">
      <%= language.name %>
    </div>
  </div>
</div>
