<div class="col-8">
  <div id="<%= dom_id language %>" class="p-5 shadow card mb-3 mt-5 bg-description">
    <div class="row">
      <div class="col-4">
        <strong>Name:</strong>
      </div>
      <div class="col-4">
        <%= language.name %>
      </div>
    </div>
  </div>
</div>
