<div class="container mt-5 mb-5 pb-5 pt-5">
  <h1 class="display-6 mb-3 text-muted text-center card shadow bg-dark p-5 header-nav">
    New language
  </h1>

  <%= render "form", language: @language %>

  <div class="d-grid mt-3">
    <%= link_to "Back to languages", languages_path, class: "btn btn-sm btn-secondary shadow" %>
  </div>
</div>
