<h1 class="display-6 mb-3 mt-5 text-muted text-center card shadow bg-dark p-5">
  New language
</h1>

<div class="p-5 shadow card bg-secondary">
  <%= render "form", language: @language %>
</div>

<div class="d-grid mt-3">
  <%= link_to "Back to languages", languages_path, class: "btn btn-sm btn-secondary mt-3 shadow" %>
</div>
