<h1 class="display-1 mb-5 text-muted text-center">Ruby GT</h1>

<div class="row mb-5">
  <div class="col-5 card p-5 shadow">
    <h1 class="display-6 mb-5">
      Guides
    </h1>
  </div>
  <div class="col-2"></div>
  <div class="col-5 card p-5 shadow">
    <h1 class="display-6 mb-5">
      Tutorials
    </h1>
  </div>
</div>

<div class="row mb-5">
  <div class="col-5 card p-5 shadow">
    <h1 class="display-6 mb-5">
      Snippets
    </h1>
  </div>
  <div class="col-2"></div>
  <div class="col-5 card p-5 shadow">
    <h1 class="display-6 mb-5">
      Commands
    </h1>
  </div>
</div>

<div class="row mb-5">
  <div class="col-5 card p-5 shadow">
    <h1 class="display-6 mb-5">
      Examples
    </h1>
  </div>
  <div class="col-2"></div>
  <div class="col-5 card p-5 shadow">
    <h1 class="display-6 mb-5">
      Templates
    </h1>
  </div>
</div>
