<h1 class="display-1 mb-5 text-muted text-center">Ruby GT</h1>

<div class="row mb-5">
  <div class="col-5 card p-5 shadow  bg-light">
    <h1 class="display-6 mb-5 text-center">
      Guides
    </h1>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Add keyword" aria-label="guides">
      <button class="btn btn-outline-success" type="button">Search</button>
    </div>
  </div>
  <div class="col-2"></div>
  <div class="col-5 card p-5 shadow bg-light">
    <h1 class="display-6 mb-5 text-center">
      Tutorials
    </h1>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Add keyword" aria-label="tutorials">
      <button class="btn btn-outline-success" type="button">Search</button>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-5 card p-5 shadow bg-light">
    <h1 class="display-6 mb-5 text-center">
      Snippets
    </h1>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Add keyword" aria-label="snippets">
      <button class="btn btn-outline-success" type="button">Search</button>
    </div>
  </div>
  <div class="col-2"></div>
  <div class="col-5 card p-5 shadow bg-light">
    <h1 class="display-6 mb-5 text-center">
      Commands
    </h1>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Add keyword" aria-label="commands">
      <button class="btn btn-outline-success" type="button">Search</button>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-5 card p-5 shadow bg-light">
    <h1 class="display-6 mb-5 text-center">
      Examples
    </h1>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Add keyword" aria-label="examples">
      <button class="btn btn-outline-success" type="button">Search</button>
    </div>
  </div>
  <div class="col-2"></div>
  <div class="col-5 card p-5 shadow bg-light">
    <h1 class="display-6 mb-5 text-center">
      Templates
    </h1>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Add keyword" aria-label="templates">
      <button class="btn btn-outline-success" type="button">Search</button>
    </div>
  </div>
</div>
