<div id="<%= dom_id tag %>" class="p-5 shadow col-8 card mb-3 mt-5 bg-description">
  <hr>
  <div class="row">
    <div class="col-4">
      <strong>Name:</strong>
    </div>
    <div id="tag_<%= tag.id %>" class="col-4">
      <%= tag.name %>
    </div>
  </div>
  <hr>
</div>
