<h1 class="display-6 mb-3 text-muted text-center card shadow bg-dark p-5">
  Editing <%= render html:  @tag.name %> tag
</h1>

<div class="p-5 shadow card bg-secondary">
  <%= render "form", tag: @tag %>

  <div class="btn-group mt-5" role="group" aria-label="Basic mixed styles example">
    <%= link_to "Show this tag", @tag, type: "button", class: "btn btn-sm btn-primary mt-2" %>
    <%= link_to "Back to tags", tags_path, type: "button", class: "btn btn-sm btn-secondary mt-2" %>
  </div>
</div>
