<div class="row mt-5">
  <div class="col-2">
  </div>

  <div class="col-8 mx-3">
    <h1 class="display-6 mb-3 mt-5 text-muted text-center card shadow bg-dark p-5 header-nav">
      Tags
    </h1>

    <% @tags.each do |tag| %>
    <div class="p-5 shadow card bg-dark mb-3">
      <div class="card p-5 m-5 shadow bg-focuscard">
        <h1 class="display-6 text-muted">
          <%= render html: tag.name %>
        </h1>
        <div class="row">
          <%= render tag %>
        </div>
        <div class="d-grid gap-2 col-8">
          <%= link_to "Show this tag", tag, class: "btn btn-sm btn-success mt-3 shadow" %>
        </div>
      </div>
    </div>
    <% end %>

    <%= link_to "New tag", new_tag_path, class: "btn btn-sm btn-primary shadow d-grid gap-2 fixed-button col-8" %>
  </div>
</div>
