<h1>Editing command code</h1>

<%= render "form", command_code: @command_code %>

<br>

<div>
  <%= link_to "Show this command code", @command_code %> |
  <%= link_to "Back to command codes", command_codes_path %>
</div>
